@model TeledocTask.Models.Entity

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white">Детали</h1>

<div class="text-white">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
